{
  "plugins": [
    "react"
  ],

  "extends": ["eslint:all", "plugin:react/all"],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },

  "rules": {
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": [1, { "extensions": [ ".js", ".jsx" ] } ],
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "no-extra-parens": [2, "functions"],
    "react/display-name": [0],
    "sort-imports": [0],
    "indent": ["error", 2],
    "padded-blocks": [0],
    "class-methods-use-this": [0],
    "quote-props": [0],
    "react/jsx-no-bind": [0],
    "object-curly-newline": [0],
    "react/no-set-state": [0],
    "arrow-body-style": [0],
    "one-var": [0],
    "no-undefined": [0],
    "no-ternary": [0]
  },

  "globals": {
    "document": true,
    "console": true
  }
} 
